<!DOCTYPE html>
<html>
<head>
    <title>Person List</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>firstname</th>
                <th>lastname</th>
                <th>phone</th>
                <th>joined_date</th>
            </tr>
        </thead>
        <tbody>
            {% for person in people %}
            <tr>
                <td>{{ person.id }}</td>
                <td>{{ person.firstname }}</td>
                <td>{{ person.lastname }}</td>
                <td>{{ person.phone }}</td>
                <td>{{ person.joined_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
