<!DOCTYPE html>
<html>
<head><title>Home</title></head>
<body bgcolor="yellow">
  <h1>This is Home Page</h1>
  <img src="mother.jpg" width="100",highi=100>
  <img src="yash.jpg"align=right width="200",highi=100>
  <a href="{% url 'about' %}">Go to About Page</a>
   <h3>My friends are:</h3>
            
        <a href=sasi.html><button>sasi</button><br><br>
        <a href=sreeker.html><button>sreeker</button><br>  <br>
        <a href=tharun.html><button>tharun</button><br><br>
        <a href=sai.html><button>sai</button><br>  <br>
        <a href=mother.html><button>yaswanth</button><br>
            </a>
</body></html>
